.about-me {
  height: 100vh;
  display: flex;
  align-items: center;
  /* padding: 0 2rem; */
}

.about-me .container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  align-items: flex-start;
  justify-content: space-between;
}

.about-me-left img {
  width: 450px;
  margin: 0 1.6rem;
  height: auto;
  height: 100%;
  /* width: 500px; */
  /* flex: 1; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* margin: 0 1.6rem; */
}

.about-me-right {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 2rem;
  margin: 0 1.6rem;
}

.about-me-right h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.pic3 {
  width: 80%;
  height: 50%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
}

.about-me-details {
  display: flex;
  position: relative;
  margin-top: 12px;
  margin-bottom: 24px;
  gap: 1.6rem;
}

.btn {
  color: #fff;
  text-decoration: none;
  position: relative;
}
.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: red;
  box-shadow: 0px 0 6px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.btn:hover::after,
.btn:active::after {
  transform: scaleX(1);
}

.active::after {
  transform: scaleX(1);
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: red;
  box-shadow: 0px 0 6px;
}

@media (max-width: 60rem) {
  .about-me .container {
    flex-direction: column;
  }
  .about-me-left {
    display: none;
  }

  .about-me-right {
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 65rem) {
  .about-me-left img {
    width: 480px;
  }
}
