/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Inter", sans-serif;
}

:root {
  --clr: #222327;
}

/* HTML ELEMENTS */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #080909a8;
  background-color: #000;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

main {
  /* margin-top: 1.6rem; */
}

.container {
  width: 1200px;
  margin: 0 auto;
  /* border: 2px solid red; */
}
